﻿@{
    ViewBag.Title = "Документы";
}

<div class="jumbotron">
    <h1>Документы</h1>
    @Html.Partial("Upload")
    @Html.Partial("Find")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}