﻿@model IEnumerable<Liberdoc.Models.Document>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Ajax.ActionLink("Имя", "Order", new { orderby = "FileName" }, new AjaxOptions { UpdateTargetId = "findresults" })
            </th>
            <th>
                @Ajax.ActionLink("Файл", "Order", new { orderby = "RealName" }, new AjaxOptions { UpdateTargetId = "findresults" })
            </th>
            <th>
                @Ajax.ActionLink("Дата создания", "Order", new { orderby = "Date" }, new AjaxOptions { UpdateTargetId = "findresults" })
            </th>
            <th>
                @Ajax.ActionLink("Автор", "Order", new { orderby = "Author" }, new AjaxOptions { UpdateTargetId = "findresults" })
            </th>
            <th>Скачать</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model ?? ViewBag.Documents)
            {
                <tr>
                    @{
                        string name = $"{(item.FileName.Length > 30 ? $"{item.FileName.Substring(0, 30)}..." : item.FileName)}",
                        realname = $"{(item.RealName.Length > 30 ? $"{item.RealName.Substring(0, 30)}..." : item.RealName)}",
                        date = item.Date.ToString(),
                        author = item.Author.Username;
                    }
                    <td>@name</td>
                    <td>@realname</td>
                    <td>@date</td>
                    <td>@author</td>
                    <td>
                        <a href="@Url.Action("Download", "Documents", new { file_id = item.Id.ToString() })">
                            <img src="~/images/ico_download.png" alt="" />
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>