﻿@model Liberdoc.Models.Minor.DocumentUploadResult

<p><h2>@Model.Result</h2></p>
<p>@Html.ActionLink("Вернуться", "Index", "Documents", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
