﻿@model Liberdoc.Models.Minor.DocumentUpload

@using (Html.BeginForm("UploadResult", "Documents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p class="lead">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "" })
                <div class="form-horizontal">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Файл документа")
                <div class="form-horizontal">
                    <input id="upload" name="upload" type="file" class="btn btn-default" data-val="true" data-val-required="File is required" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-horizontal">
                    <input type="submit" value="Отправить" class="btn btn-default" />
                </div>
            </div>
        </div>
    </p>
}
