﻿@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Liberdoc</h1>
    <p class="lead">Простое хранилище документов</p>
    <p>@Html.ActionLink("Начать работу", "Index", "Documents", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>