﻿@model Liberdoc.Models.Minor.PersonLogin

@{
    ViewBag.Title = "Войти";
}

<div class="jumbotron">
    <h2>Войти</h2>
    <p class="lead">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, new { @class = "" })
                    <div class="form-horizontal">
                        @Html.EditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "" })
                    <div class="form-horizontal">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}